.submenu1{
    display: none;
}
.MenuBar ul li:hover .submenu1
{
    display: block;
    position: absolute;
     background: rgb(143, 209, 143);
     margin-top: 20px;
     margin-left: -20px;
}
.MenuBar ul li:hover .submenu1 ul{
    display: block;
    margin:10px;
}
.MenuBar ul li:hover .submenu1 ul li{
    width:40px;
    padding:10px;
    border-bottom: 1px dotted #fff;
    border-radius: 0;
    text-align:center;
    background: transparent;
}
.MenuBar ul li:hover .submenu1 ul li:last-child
{
    border-bottom: none;
}
.MenuBar ul li:hover .submenu1 ul li a:hover{
      color:rgb(107, 150, 107);
}


